<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!-- <div id="body_panel" > -->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="maincontainer" ng-init="getComplaintDetails()">-->
        <!--<div class="heading-bg">Manage Complaint Details <span class="right-link"><a href="/complaint/add/">Add Complaint</a></span></div>-->
        <!--<div class="col-md-12 margin-top-ten margin-bottom-ten">-->
          <!--<div class="table-responsive ">-->
            <!--<div ui-grid="gridOptions" external-scopes="$scope" ui-grid-auto-resize ui-grid-cellNav ui-grid-pinning ui-grid-pagination ui-grid-resize-columns ui-grid-selection ui-grid-move-columns ui-grid-exporter></div>-->
          <!--</div>&lt;!&ndash;table-responsive&ndash;&gt;-->
        <!--</div>&lt;!&ndash;col-md-12&ndash;&gt;-->
        <!--<div class="clr"></div>-->
      <!--</div>&lt;!&ndash;maincontainer&ndash;&gt;-->
    <!--</div>&lt;!&ndash;Manage Complaint Details&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->



<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">Manage Complaint</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw" style="min-height:600px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <!--<div class="col-lg-12 col-md-12">-->
          <!--<div class="panel panel-white">-->
          <!--<div class="panel-body">-->
          <div class="row margin-bottom-10">
            <div class="col-md-12">
              <a ui-sref="app.add"
                 class="btn btn-wide btn-primary pull-left"><i
                class="ti-plus"></i> New
                Complaint</a>
              <a ng-click="vm.tableParams.filter({})"
                 class="btn btn-wide btn-warning pull-right" href="#"><i class="ti-filter"></i> Clear
                Filters</a>
            </div>
          </div>
          <div class="table-responsive">
            <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
              <tr>
                <td data-title="'Active'"><i ng-if="row.active == true"
                                             class="fa fa-lg fa-check"></i><i
                  ng-if="row.active == false" class="fa fa-lg fa-ban"></i></td>

                <td data-title="'Consumer Name'" sortable="'consumername'" filter="{'consumername': 'text'}">
                  Consumer Name
                </td>
                <td data-title="'Complaint Type'">Complaint Type
                </td>
                <td data-title="'Complaint Text'">
                  Complaint Text
                </td>

                <td data-title="'Complaint Date'">Complaint Date</td>

                <td data-title="'Resolve Date'">Resolve Date</td>

                <td data-title="'Status'">Status</td>


                <td class="center">
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a ui-sref="app.user.edit({id : row.id})" class="btn btn-transparent btn-xs"
                       tooltip-placement="top"
                       uib-tooltip="Edit" ng-if="vm.isUserCreationAllowed" ><i class="fa fa-pencil"></i></a>
                    <a href="#" ng-click="vm.toggleStatus(row.id)"
                       ng-if="row.active == true && row.email != vm.disableActive && vm.isActiveAllowed == true"
                       class="btn btn-transparent btn-xs tooltips" tooltip-placement="top"
                       uib-tooltip="Deactivate"><i class="fa fa-ban"></i></a>
                    <a href="#" ng-click="vm.toggleStatus(row.id)"
                       ng-if="row.active == false && row.email != vm.disableActive && vm.isActiveAllowed == true"
                       class="btn btn-transparent btn-xs tooltips" tooltip-placement="top"
                       uib-tooltip="Activate"><i class="fa fa-check"></i></a>
                  </div>
                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="btn-group" uib-dropdown>
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                              uib-dropdown-toggle>
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                        <li>
                          <a href="#" ui-sref="app.user.edit({id : row.id})"> Edit </a>
                        </li>

                        <li>
                          <a ng-if="row.active == true && row.email != vm.disableActive" href="#"
                             ng-click="vm.toggleStatus(row.id)">
                            Deactivate </a>
                          <a ng-if="row.active == false && row.email != vm.disableActive" href="#"
                             ng-click="vm.toggleStatus(row.id)">
                            Activate </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>

