<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Edit Society</h4>

  <div ng-click="vm.breadcrumbRoute()" ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <fieldset>
            <legend>
              Edit Society
            </legend>
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-6">


                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.name.$dirty && vm.Form.name.$invalid, 'has-success':vm.Form.name.$valid}">
                    <label class="control-label"> Name <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter Society Name" class="form-control" name="name"
                           ng-model="vm.society.name" ng-maxlength="30" required/>
                    <span class="error text-small block" ng-if="vm.Form.name.$error.pattern">Invalid characters</span>
                    <span class="error text-small block" ng-if="vm.Form.name.$dirty && vm.Form.name.$error.required">Name is required</span>
                    <span class="error text-small block"
                          ng-show="vm.Form.name.$invalid && vm.Form.name.$error.maxlength">Name be less than 30 characters</span>
                  </div>

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.cityName.$dirty && vm.Form.cityName.$invalid, 'has-success':vm.Form.cityName.$valid}">
                    <label class="control-label"> City <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter City" class="form-control" name="cityName"
                           ng-model="vm.society.address.cityName" required>
                    <span class="error text-small block"
                          ng-if="vm.Form.cityName.$dirty && vm.Form.cityName.$error.required">City is required.</span>
                  </div>

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.areaName.$dirty && vm.Form.areaName.$invalid, 'has-success':vm.Form.areaName.$valid}">
                    <label class="control-label"> Area <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter Area" class="form-control" name="areaName"
                           ng-model="vm.society.address.areaName" required>
                    <span class="error text-small block"
                          ng-if="vm.Form.areaName.$dirty && vm.Form.areaName.$error.required">Area is required.</span>
                  </div>

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.pinCode.$dirty && vm.Form.pinCode.$invalid, 'has-success':vm.Form.pinCode.$valid}">
                    <label class="control-label"> Pin Code <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter Pin Code" class="form-control" name="pinCode"
                           ng-model="vm.society.address.pinCode" ng-pattern="/^[1-9][0-9]*$/" ng-minlength="6" ng-maxlength="6" required>
                    <span class="error text-small block"
                          ng-if="vm.Form.pinCode.$dirty && vm.Form.pinCode.$error.required">Pin Code is required.</span>
                    <span class="error text-small block" ng-if="vm.Form.pinCode.$error.pattern">Invalid characters</span>
                    <span class="error text-small block"
                          ng-show="vm.Form.pinCode.$invalid && vm.Form.pinCode.$error.maxlength">Pin Code cannot be more than 6 digits</span>
                    <span class="error text-small block"
                          ng-show="vm.Form.pinCode.$invalid && vm.Form.pinCode.$error.minlength">Pin Code cannot be less than 6 digits</span>
                  </div>

                  <div class="form-group" ng-class="{'has-error':vm.Form.noOfTowers.$dirty && vm.Form.noOfTowers.$invalid, 'has-success':vm.Form.noOfTowers.$valid}">
                    <label class="control-label"> Number of Towers <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter number of towers" class="form-control" name="noOfTowers" ng-model="vm.society.noOfTowers" ng-pattern="/^[1-9][0-9]*$/" required>
                    <span class="error text-small block" ng-if="vm.Form.noOfTowers.$error.pattern">Invalid characters</span>
                    <span class="error text-small block" ng-if="vm.Form.noOfTowers.$dirty && vm.Form.noOfTowers.$error.required">Number of towers is required</span>
                  </div>

                  <div class="form-group" ng-class="{'has-error':vm.Form.noOfFlats.$dirty && vm.Form.noOfFlats.$invalid, 'has-success':vm.Form.noOfFlats.$valid}">
                    <label class="control-label"> Number of Flats <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Enter number of flats" class="form-control" name="noOfFlats" ng-model="vm.society.noOfFlats" ng-pattern="/^[1-9][0-9]*$/" required>
                    <span class="error text-small block" ng-if="vm.Form.noOfFlats.$error.pattern">Invalid characters</span>
                    <span class="error text-small block" ng-if="vm.Form.noOfFlats.$dirty && vm.Form.noOfFlats.$error.required">Number of flats is required</span>
                  </div>

                  <!--<div class="form-group" ng-class="{'has-error':vm.Form.noOfFloors.$dirty && vm.Form.noOfFloors.$invalid, 'has-success':vm.Form.noOfFloors.$valid}">-->
                    <!--<label class="control-label"> Number of Floors <span class="symbol required"></span> </label>-->
                    <!--<input type="text" placeholder="Enter number of floors" class="form-control" name="noOfFloors" ng-model="vm.society.noOfFloors" ng-pattern="/^[1-9][0-9]*$/" required>-->
                    <!--<span class="error text-small block" ng-if="vm.Form.noOfFloors.$error.pattern">Invalid characters</span>-->
                    <!--<span class="error text-small block" ng-if="vm.Form.noOfFloors.$dirty && vm.Form.noOfFloors.$error.required">Number of floors is required</span>-->
                  <!--</div>-->

                </div>
              </div>

              <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                  <div class="panel-heading">
                    <h5 class="panel-title"><em>Primary Admin Details</em></h5>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.name.$dirty && vm.Form.name.$invalid, 'has-success':vm.Form.name.$valid}">
                          <label class="control-label"> Enter Manager Name <span class="symbol required"></span> </label>
                          <input ng-readonly="true" type="text" placeholder="Enter Name" class="form-control" name="name"
                                 ng-model="vm.society.admin.name"  ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="30" required/>
                          <span class="error text-small block" ng-if="vm.Form.name.$error.pattern">Invalid characters</span>
                          <span class="error text-small block" ng-if="vm.Form.name.$dirty && vm.Form.name.$error.required">Name is required</span>
                          <span class="error text-small block"
                                ng-show="vm.Form.name.$invalid && vm.Form.name.$error.maxlength">Name be less than 30 characters</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.email.$dirty && vm.Form.email.$invalid, 'has-success':vm.Form.email.$valid}">
                          <label class="control-label"> Enter Manager Email <span class="symbol required"></span> </label>
                          <input ng-readonly="true" type="email" placeholder="Enter a valid e-mail" class="form-control" name="email"
                                 ng-model="vm.society.admin.email" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/" required>
                          <span class="error text-small block" ng-if="vm.Form.email.$dirty && vm.Form.email.$error.required">Email is required.</span>
                          <span class="error text-small block" ng-if="vm.Form.email.$error.pattern">Please Enter a valid email address</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.mobile.$dirty && vm.Form.mobile.$invalid, 'has-success':vm.Form.mobile.$valid}">
                          <label class="control-label"> Enter Manager Mobile Number <span class="symbol required"></span> </label>
                          <input ng-readonly="true" type="text" placeholder="Enter Mobile Number" class="form-control" name="mobile"
                                 ng-model="vm.society.admin.mobile" ng-pattern="/^[1-9][0-9]*$/" ng-minlength=10
                                 ng-maxlength=10 required/>
                          <span class="error text-small block"
                                ng-if="vm.Form.mobile.$dirty && vm.Form.mobile.$error.required">Mobile is required</span>
                          <span class="error text-small block"
                                ng-if="vm.Form.mobile.$error.maxlength == vm.Form.mobile.$error.minlength && vm.Form.mobile.$error.pattern">Invalid Characters</span>
                          <span class="error text-small block" ng-if="vm.Form.mobile.$error.minlength">Mobile Number should be ten characters only</span>
                          <span class="error text-small block" ng-if="vm.Form.mobile.$error.maxlength">Mobile Number should be ten characters only</span>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">
                            Search
                          </label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" ng-model="vm.society.admin.selected" placeholder="Search admin"
                                     ng-value="vm.society.admin.name"
                                     uib-typeahead="item.name for item in vm.userList($viewValue)"
                                     typeahead-loading="loadingLocations" typeahead-min-length="3" typeahead-no-results="noResults"
                                     typeahead-on-select="vm.onSelect($item, $model, $label)"
                                     typeahead-editable='true'
                                     class="form-control">
                            </div>

                            <div class="col-md-6">
                                <span class="btn btn-danger" ng-click="vm.clearUser()" ><i
                                  class="fa fa-times"></i> </span>
                            </div>
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults" class="error">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div>
                    <button type="submit" class="btn btn-wide btn-success"
                            ng-click="vm.submit();vm.toTheTop()">
                      Save
                    </button>
                    <button type="reset" class="btn btn-wide btn-warning"
                            ng-click="vm.reset()">
                      Reset
                    </button>
                    <button type="cancel" class="btn btn-wide btn-danger"
                            ui-sref="app.society">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>


            </ng-form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>



