<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Change Password</h4>

  <div ng-click="vm.breadcrumbRoute()" ncy-breadcrumb class="pull-right"></div>
</div>
<div class="container-fluid container-fullw">

  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <div class="panel-body">
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <legend style="font-weight:bold">
                      CHANGE PASSWORD
                    </legend>


                    <div class="form-group"
                         ng-class="{'has-error':vm.Form.password.$dirty && vm.Form.password.$invalid, 'has-success':vm.Form.password.$valid}">
                      <label class="control-label"> Current Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Enter your Password" class="form-control" name="password"
                             ng-model="vm.password" ng-minlength=6 required/>
                      <span class="error text-small block"
                            ng-if="vm.Form.password.$dirty && vm.Form.password.$error.required">Current Password is required</span>
                      <span class="error text-small block" ng-if="vm.Form.password.$error.minlength">Current Password should be six characters or more </span>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':vm.Form.newPassword.$dirty && vm.Form.newPassword.$invalid, 'has-success':vm.Form.newPassword.$valid}">
                      <label class="control-label"> New Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Enter a Password" class="form-control" name="newPassword"
                             ng-model="vm.newPassword" ng-minlength=6 required/>
                      <span class="error text-small block"
                            ng-if="vm.Form.newPassword.$dirty && vm.Form.newPassword.$error.required">New Password is required</span>
                      <span class="error text-small block" ng-if="vm.Form.newPassword.$error.minlength">New Password should be six characters or more </span>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':vm.Form.password2.$dirty && vm.Form.password2.$error.compareTo || vm.Form.password2.$dirty && vm.Form.password2.$invalid, 'has-success':vm.Form.password2.$valid}">
                      <label class="control-label"> Repeat Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Repeat Password" class="form-control" name="password2"
                             ng-model="vm.password2" compare-to="vm.newPassword" required/>
                      <span class="error text-small block"
                            ng-if="vm.Form.password2.$dirty && vm.Form.password2.$error.compareTo">Passwords do not match</span>
                    </div>

                    <button type="button" class="btn btn-wide btn-success" ng-click="vm.submit()">
                      Save
                    </button>
                    <a ng-if="!vm.isVisitorAdminRole && !vm.isCreatorRole" ui-sref="app.complaint" class="btn btn-wide btn-danger"> Cancel </a>
                    <a ng-if="vm.isVisitorAdminRole" ui-sref="app.visitor" class="btn btn-wide btn-danger">Cancel</a>
                    <a ng-if="vm.isCreatorRole" ui-sref="app.society" class="btn btn-wide btn-danger">Cancel</a>

                  </fieldset>
                </div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
