<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">Add User</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <fieldset>
            <legend>
              Add User Info
            </legend>
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group"
                           ng-class="{'has-error':vm.Form.name.$dirty && vm.Form.name.$invalid, 'has-success':vm.Form.name.$valid}">
                        <label class="control-label"> Name <span class="symbol required"></span> </label>
                        <input type="text" placeholder="Enter Name" class="form-control" name="name"
                               ng-model="vm.user.name"  ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="30" required/>
                        <span class="error text-small block" ng-if="vm.Form.name.$error.pattern">Invalid characters</span>
                        <span class="error text-small block" ng-if="vm.Form.name.$dirty && vm.Form.name.$error.required">Name is required</span>
                        <span class="error text-small block"
                              ng-show="vm.Form.name.$invalid && vm.Form.name.$error.maxlength">Name be less than 30 characters</span>
                      </div>

                      <div class="form-group"
                           ng-class="{'has-error':vm.Form.email.$dirty && vm.Form.email.$invalid, 'has-success':vm.Form.email.$valid}">
                        <label class="control-label"> Email <span class="symbol required"></span> </label>
                        <input type="email" placeholder="Enter a valid e-mail" class="form-control" name="email"
                               ng-model="vm.user.email" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/" required>
                        <span class="error text-small block" ng-if="vm.Form.email.$dirty && vm.Form.email.$error.required">Email is required.</span>
                        <span class="error text-small block" ng-if="vm.Form.email.$error.pattern">Please Enter a valid email address</span>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group"
                           ng-class="{'has-error':vm.Form.mobile.$dirty && vm.Form.mobile.$invalid, 'has-success':vm.Form.mobile.$valid}">
                        <label class="control-label"> Mobile Number <span class="symbol required"></span> </label>
                        <input type="text" placeholder="Enter Mobile Number" class="form-control" name="mobile"
                               ng-model="vm.user.mobile" ng-pattern="/^[1-9][0-9]*$/" ng-minlength=10
                               ng-maxlength=10 required/>

                        <span class="error text-small block"
                              ng-if="vm.Form.mobile.$dirty && vm.Form.mobile.$error.required">Mobile is required</span>
                        <span class="error text-small block"
                              ng-if="vm.Form.mobile.$error.pattern">Invalid Characters</span>
                        <span class="error text-small block" ng-if="vm.Form.mobile.$error.minlength && !vm.Form.mobile.$error.pattern">Mobile Number should be ten characters only</span>
                        <span class="error text-small block" ng-if="vm.Form.mobile.$error.maxlength && !vm.Form.mobile.$error.pattern">Mobile Number should be ten characters only</span>
                      </div>

                      <!--<div class="form-group"-->
                      <!--ng-class="{'has-error':vm.Form.address.$dirty && vm.Form.address.$invalid, 'has-success':vm.Form.address.$valid}">-->
                      <!--<label class="control-label"> Address </label>-->
                      <!--<input type="text" placeholder="Enter your Address" class="form-control" name="address"-->
                      <!--ng-model="vm.user.address" ng-maxlength=500 required/>-->
                      <!--&lt;!&ndash;<span class="error text-small block"&ndash;&gt;-->
                      <!--&lt;!&ndash;ng-if="vm.Form.address.$dirty && vm.Form.address.$error.required && vm.user.role == 'ROLE_CONSUMER'">Address is required</span>&ndash;&gt;-->
                      <!--&lt;!&ndash;<span class="error text-small block"&ndash;&gt;-->
                      <!--&lt;!&ndash;ng-show="vm.Form.address.$invalid && vm.Form.address.$error.minlength">Address should be six characters or more</span>&ndash;&gt;-->
                      <!--<span class="error text-small block"-->
                      <!--ng-show="vm.Form.address.$invalid && vm.Form.address.$error.maxlength">Address should be less than 100 characters</span>-->
                      <!--</div>-->

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="control-label" style="margin-left: -14px;">
                            Role : <span class="symbol required"></span>
                          </label><br>
                          <div ng-class="{'has-error':vm.Form.roles.$dirty && vm.Form.roles.$invalid, 'has-success':vm.Form.roles.$valid}">
                            <select class="form-control" name="roles" style="margin-left: -14px;" ng-model="vm.userRole" ng-options="role for role in vm.rolesList" required>
                            </select>
                            <span class="error text-small block"
                                  ng-if="vm.Form.roles.$dirty && vm.Form.roles.$error.required">Role is required.</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3" ng-if="vm.isSuperAdminRole && vm.userRole=='MANAGEMENT ' || vm.isSuperAdminRole && vm.userRole=='ADMIN ' || vm.isSuperAdminRole && vm.userRole=='METER MANAGEMENT ' || vm.isSuperAdminRole && vm.userRole=='VISITOR ADMIN ' || vm.isSuperAdminRole && vm.userRole=='SOCIETY CREATOR '">
                        <div class="form-group">
                          <label class="control-label">
                            Society : <span class="symbol required"></span>
                          </label><br>
                          <div ng-class="{'has-error':vm.Form.society.$dirty && vm.Form.society.$invalid, 'has-success':vm.Form.society.$valid}">
                            <select class="form-control" name="society" ng-model="vm.user.society" ng-options="society as society.name for society in vm.society" required>
                            </select>
                            <span class="error text-small block"
                                  ng-if="vm.Form.society.$dirty && vm.Form.society.$error.required">Society is required</span>
                          </div>
                        </div>
                      </div>

                      <!--<div class="form-group" ng-show="vm.user.role == 'ROLE_CONSUMER'"-->
                      <!--ng-class="{'has-error':vm.Form.residentType.$dirty && vm.Form.residentType.$invalid, 'has-success':vm.Form.residentType.$valid}">-->
                      <!--<label class="block">-->
                      <!--Resident Type <span class="symbol required"></span>-->
                      <!--</label>-->
                      <!--<div class="clip-radio radio-primary">-->
                      <!--<input type="radio" id="user-owner" name="residentType" value="owner" ng-model="vm.user.residentType"-->
                      <!--required>-->
                      <!--<label for="user-owner">-->
                      <!--Owner-->
                      <!--</label>-->
                      <!--<input type="radio" id="user-tenant" name="residentType" value="tenant" ng-model="vm.user.residentType"-->
                      <!--required>-->
                      <!--<label for="user-tenant">-->
                      <!--Tenant-->
                      <!--</label>-->
                      <!--</div>-->
                      <!--</div>-->
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="panel-body">

                    <div>
                      <button type="button" class="btn btn-wide btn-success" ng-click="vm.submit();vm.toTheTop()">
                        Save
                      </button>
                      <button type="reset" class="btn btn-wide btn-warning"
                              ng-click="vm.reset()">
                        Reset
                      </button>
                      <a ui-sref="app.allUsers" class="btn btn-wide btn-danger"> Cancel </a>
                    </div>

                  </div>
                </div>
              </div>


            </ng-form>
          </fieldset>

        </div>
      </div>
    </div>
  </div>




