
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">Manage Flats</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw" style="min-height:600px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <!--<div class="col-lg-12 col-md-12">-->
          <!--<div class="panel panel-white">-->
          <!--<div class="panel-body">-->
          <div class="row margin-bottom-10">
            <div class="col-md-12">
              <a ui-sref="app.newFlat"
                 class="btn btn-wide btn-primary pull-left"><i
                class="ti-plus"></i> New
                Flat</a>
              <!--<a ng-click="vm.tableParams.filter({})"-->
              <!--class="btn btn-wide btn-warning pull-right" href="#"><i class="ti-filter"></i> Clear-->
              <!--Filters</a>-->
            </div>
          </div>
          <div class="table-responsive">
            <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
              <tr ng-repeat="row in vm.master">

                <td data-title="'Tower'">{{row.tower}}</td>

                <td data-title="'Flat No.'">{{row.flatNo}}</td>

                <td data-title="'Floor'">{{row.floor}}</td>

                <td data-title="'Sold'">{{row.hasOwner}}</td>

                <td data-title="'Resident'">{{row.hasResident}}</td>

                <td data-title="'Resident Type'">{{row.residentType}}</td>

                <td data-title="'Owner Name'">{{row.ownerName}}</td>

                <td data-title="'Owner Email'">{{row.ownerEmail}}</td>

                <td data-title="'Owner Number'">{{row.ownerMobile}}</td>

                <td data-title="'Possession Date'">{{row.dateOfPossession | date:'dd-MM-yyyy'}}</td>

                <td class="center">
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a ui-sref="app.editFlat({id : row.flatId})" class="btn btn-transparent btn-xs"
                       tooltip-placement="top"
                       uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                  </div>
                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="btn-group" uib-dropdown>
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                              uib-dropdown-toggle>
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                        <li>
                          <a href="#" ui-sref="app.editFlat({id : row.id})"> Edit </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>

