
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Manage Helpers</h4>

  <div ng-click="vm.breadcrumbRoute()" ncy-breadcrumb class="pull-right"></div>
</div>

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw" style="min-height:600px;">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.helperMsg">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideComplaintBox()">
          &times;
        </button>
        {{vm.helperMsg}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="row margin-bottom-10">
            <div class="col-md-12">
              <a ui-sref="app.createHelper" ng-if="!vm.isConsumerRole"
                 class="btn btn-wide btn-primary pull-left"><i
                class="ti-plus"></i> New
                Helper</a>
              <a ui-sref="app.assignHelper" ng-if="vm.isConsumerRole"
                 class="btn btn-wide btn-primary pull-left"><i
                class="ti-plus"></i> Add
                Helper</a>
              <a ng-click="vm.tableParams.filter({})"
                 class="btn btn-wide btn-warning pull-right" href="#"><i class="ti-filter"></i> Clear
                Filters</a>
            </div>
          </div>
          <div class="table-responsive">
            <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
              <tr ng-repeat="row in $data">

                <td data-title="'Helper Number'" style="width:160px;" sortable="'helperNo'" filter="{ 'helperNo' : 'text' }">{{row.helperNo}}</td>
                <td data-title="'Name'" style="width:160px;">{{row.name}}</td>
                <td data-title="'Mobile number'" style="width:160px;">{{row.mobile}}</td>
                <td data-title="'Type'" style="width:160px;" sortable="'type'" filter="{ 'type' : 'text' }">{{row.type}}</td>
                <td data-title="'Verification Done'" style="width:160px;">{{row.policeVerificationDone}}</td>
                <td data-title="'Verification Date'" style="width:160px;" ng-if="!vm.isConsumerRole">{{row.policeVerificationDate | date:'dd-MM-yyyy'}}</td>
                <td data-title="'Expiry Date'" style="width:160px;" ng-if="vm.isConsumerRole">{{row.endDate | date:'dd-MM-yyyy'}}</td>
                <td class="center">
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a ui-sref="app.editHelper({id : row.id})" ng-if="!vm.isConsumerRole" class="btn btn-transparent btn-xs"
                       tooltip-placement="top"
                       uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-transparent" uib-tooltip="Remove" ng-if="vm.isConsumerRole" ng-click="vm.remove(row.helperNo)"><i class="ti-trash" style="color:red"></i></a>
                    <a class="btn btn-xs" ng-if="vm.abc == vm.date">Extend Date</a>
                  </div>
                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="btn-group" uib-dropdown>
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                              uib-dropdown-toggle>
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                        <li>
                          <a href="#" ng-if="!vm.isConsumerRole" ui-sref="app.editHelper({id : row.id})"> Edit </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>

              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

