<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>


<!-- start: LOGIN -->
<div class="row">
  <div
    class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <!--<div class="logo text-center">-->
      <!--<img src="/images/logo-big.png" alt="{{app.name}}" class="img-responsive"/>-->
    <!--</div>-->
    <!--<p class="text-center text-dark text-bold text-extra-large margin-top-15">-->
      <!--Welcome to Datiot-->
    <!--</p>-->
    <br><p class="text-center">
      Please enter your Username and password to log in.
    </p>
    <!-- start: LOGIN BOX -->
    <div class="box-login">
      <ng-form  name="vm.Form" role="Form" id="Form"  ng-submit="">
        <div class="form-group"  ng-class="{'has-error':vm.Form.username.$dirty && vm.Form.username.$invalid, 'has-success':vm.Form.username.$valid}">
          <input type="text" ng-pattern="/^[1-9][0-9]*$/" ng-maxlength="10" ng-minlength="10" class="form-control" name="username" placeholder="Username" ng-model="vm.user">
          <span class="error text-small block"
                ng-if="vm.Form.username.$error.pattern">Invalid Characters</span>
          <span class="error text-small block" ng-if="vm.Form.username.$error.maxlength && !vm.Form.username.$error.pattern">Mobile Number should be of ten characters only</span>
          <span class="error text-small block" ng-if="vm.Form.username.$error.minlength && !vm.Form.username.$error.pattern">Mobile Number should be of ten characters</span>
        </div>
        <div class="form-group form-actions">

          <input type="password" class="form-control password" name="password" placeholder="Password"
                 ng-model="vm.password">

        </div>
        <div class="text-center">
          <a ui-sref="auth.forgot"> Forgot Password </a>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success btn-block" ng-click="vm.signin()">
            Login
          </button>

          <!--<div class="checkbox clip-check check-primary">-->
            <!--<input type="checkbox" id="remember" value="1" ng-model="vm.rememberMe">-->
            <!--<label for="remember"> Keep me signed in </label>-->
          <!--</div>-->
        </div>
      </ng-form>
      <!-- start: COPYRIGHT -->
      <div class="copyright">
        {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
      </div>
      <!-- end: COPYRIGHT -->
    </div>
    <!-- end: LOGIN BOX -->
  </div>
</div>
<!-- end: LOGIN -->
