<!-- start: LOGIN -->
<div class="row">
        <div class="margin-top-15 main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            
            <div class="panel margin-top-15 panel-white">
                <div class="panel-heading panel-primary text-center">
                    <h4 class="panel-title" translate="auth.signIn.HEADING">Enter Your Domain</h4>
                </div>
                <div class="panel-body" style="background-color: lightgray">
                    <div class="col-md-12">
                        <div class="box-login">
                            <ng-form name="vm.FormDomain" role="Form" id="Form" novalidate>
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                    
                                       <div class="form-group"
                                            ng-class="{'has-error':vm.FormDomain.companyName.$dirty && vm.FormDomain.companyName.$invalid, 'has-success':vm.FormDomain.companyName.$valid}">
                                         <label class="control-label" translate="auth.signIn.COMPANYNAME.NAME">Company Name </label> <span class="symbol required"></span>
                                         <input type="text" placeholder="{{'auth.signIn.COMPANYNAME.PLACEHOLDER' | translate }}" class="form-control" name="companyName"
                                                ng-model="vm.user.companyName"  ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="30" required/>
                                         <span class="error text-small block" ng-if="vm.FormDomain.companyName.$error.pattern" translate="auth.signIn.COMPANYNAME.INVALID">Invalid characters</span>
                                         <span class="error text-small block" ng-if="vm.FormDomain.companyName.$dirty && vm.FormDomain.companyName.$error.required" translate="auth.signIn.COMPANYNAME.REQUIRED">Company name is required</span>
                                         <span class="error text-small block"
                                               ng-show="vm.FormDomain.companyName.$invalid && vm.FormDomain.companyName.$error.maxlength" translate="auth.signIn.COMPANYNAME.LENGTH">Company name should be less than 30 characters</span>
                                       </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                            <div class="form-actions">
                                                    <button type="submit" class="btn btn-red btn-block" translate="auth.signIn.SIGNIN" ng-click="vm.continue()">
                                                        Continue
                                                    </button>                    
                                            </div>
                                    </div>
                                </div>
                                
                            </ng-form>
                            <!-- start: COPYRIGHT -->
                            <!-- <div class="copyright">
                                {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
                            </div> -->
                            <!-- end: COPYRIGHT -->
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
    <!-- end: LOGIN -->
    