.wave-spinner>div {
  background-color: #5B4A8A;
}
.sweet-alert button.cancel {
  background-color: #B22222; }
.sweet-alert button.cancel:hover {
  background-color: #B22222; }
.sweet-alert button.cancel:active {
  background-color: #B22222; }

div.scrollUserList {
  border:1px solid lightgrey;
  height: 150px;
  overflow-y: scroll;
}
div.scrollUserList {
  border:1px solid lightgrey;
  height: 300px;
  overflow-y: scroll;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
