.wave-spinner>div {
  background-color: #5B4A8A;
}
.sweet-alert button.cancel {
  background-color: #B22222; }
.sweet-alert button.cancel:hover {
  background-color: #B22222; }
.sweet-alert button.cancel:active {
  background-color: #B22222; }
