<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">Notice</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <fieldset>
            <legend>
              Notice
            </legend>
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-6">

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.startDate.$dirty && vm.Form.startDate.$invalid, 'has-success':vm.Form.startDate.$valid}">
                    <label>
                     Start Date
                    </label>
                    <input type="text" placeholder="Start Date" class="form-control" uib-datepicker-popup="{{formats}}" ng-model="vm.notice.startdt" show-weeks="false" is-open="startopened" ng-init="startopened = false" ng-click="startopened = !startopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <!--<div class="input-group range-picker">-->
                      <!--<div class="start-date" ng-class="{'has-error':vm.Form.start.$dirty && vm.Form.start.$invalid, 'has-success':vm.Form.start.$valid}">-->
                        <!--<input type="text" name="start" class="form-control" style="width:490px;"-->
                               <!--uib-datepicker-popup="yyyy/MM/dd"-->
                               <!--datepicker-options="vm.startDateOption" ng-model="vm.start" is-open="vm.startOpened"-->
                               <!--ng-init="vm.startOpened = false;" ng-required="true" close-text="Close"-->
                               <!--ng-click="vm.startOpen($event)" min-date="'1970-12-31'" max-date="vm.end" readonly />-->
                        <!--<span class="error text-small block"-->
                              <!--ng-if="vm.Form.start.$dirty && vm.Form.start.$error.required">Start Date is required.</span>-->
                      <!--</div>-->
                    <!--</div>-->
                  </div>

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.endDate.$dirty && vm.Form.endDate.$invalid, 'has-success':vm.Form.endDate.$valid}">
                    <label>
                      End Date
                    </label>
                    <input type="text" placeholder="End Date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.notice.enddt" show-weeks="false" is-open="endopened" ng-init="endopened = false" ng-click="endopened = !endopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <!--<div class="input-group range-picker">-->
                      <!--<div class="end-date"-->
                           <!--ng-class="{'has-error':vm.Form.end.$dirty && vm.Form.end.$invalid, 'has-success':vm.Form.end.$valid}">-->
                        <!--<input type="text" name="end" class="form-control" style="width:490px;"-->
                               <!--uib-datepicker-popup="yyyy/MM/dd"-->
                               <!--datepicker-options="vm.endDateOption" ng-model="vm.end" is-open="vm.endOpened"-->
                               <!--ng-init="vm.endOpened = false;" ng-required="true" close-text="Close"-->
                               <!--ng-click="vm.endOpen($event)" min-date="vm.start" max-date="vm.maxDate" readonly />-->
                        <!--<span class="error text-small block"-->
                              <!--ng-if="vm.Form.end.$dirty && vm.Form.end.$error.required">End Date is required.</span>-->
                      <!--</div>-->
                    <!--</div>-->
                  </div>


                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.noticeType.$dirty && vm.Form.noticeType.$invalid, 'has-success':vm.Form.noticeType.$valid}">
                    <label class="control-label"> Notice Type <span class="symbol required"></span> </label>
                    <select class="form-control" name="noticeType" ng-model="vm.notice.noticeType" required>
                      <option value=""></option>
                      <option value="">Festival</option>
                      <option value="">Voilation</option>
                      <option value="">General</option>
                    </select>
                    <!--<span class="error text-small block"-->
                          <!--ng-if="vm.Form.noticeType.$dirty && vm.Form.noticeType.$error.required">Notice Type is required.</span>-->
                  </div>

                  <div class="form-group"
                       ng-class="{'has-error':vm.Form.description.$dirty && vm.Form.description.$invalid, 'has-success':vm.Form.description.$valid}">
                    <label class="control-label">Description</label>
                    <textarea class="form-control custom-control" rows="3" name="description" style="resize:none" ng-model="vm.notice.description"></textarea>
                  </div>

                  <!--<div class="form-group">-->
                  <!--<label class="control-label">-->
                  <!--Address-->
                  <!--</label>-->
                  <!--<div class="row">-->
                  <!--<div class="col-md-6">-->
                  <!--<input type="text" ng-model="vm.complaint.address" placeholder="Search Address"-->
                  <!--ng-value="vm.complaint.address"-->
                  <!--uib-typeahead="item for item in vm.flatList"-->
                  <!--typeahead-loading="loadingLocations" typeahead-min-length="1" typeahead-no-results="noResults"-->
                  <!--typeahead-editable='true'-->
                  <!--class="form-control" required>-->
                  <!--</div>-->
                  <!--<div class="col-md-6">-->
                  <!--<span class="btn btn-danger" ng-click="vm.clearFlat()" ><i-->
                  <!--class="fa fa-times"></i> </span>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<div ng-show="noResults" class="error">&ndash;&gt;-->
                  <!--&lt;!&ndash;<i class="glyphicon glyphicon-remove"></i> No Results Found&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</div>-->

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div>
                    <button type="submit" class="btn btn-wide btn-success"
                            ng-click="vm.submit()">
                      Save
                    </button>
                    <button type="reset" class="btn btn-wide btn-warning"
                            ng-click="vm.reset()">
                      Reset
                    </button>
                  </div>
                </div>
              </div>


            </ng-form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>



