<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">NOTICE</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: TIMELINE -->

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-if="!vm.progress" class="container-fluid container-fullw">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <div>
            <span ng-if="vm.masterNoticeList.length > 0">
            <label>
              Notice Type
            </label><br>
            <select name="noticeType" ng-model="vm.noticeType" style="width: 250px"
                    ng-change="vm.populateNoticeList()" ng-options="notice for notice in vm.noticeTypeList"
                    required>
            </select>
              </span>
          <a ng-if="!vm.isConsumerRole" ui-sref="app.addNotice" class="btn btn-info btn-wide pull-right"> Add Notice</a>
          </div>
          <div id="timeline">
            <div class="timeline">
              <div class="spine"></div>

                <ul class="columns">
                  <li ng-repeat="notice in vm.noticeList">
                    <div ng-class="notice.type == 'Violation' ? 'timeline_element partition-blue' : 'timeline_element partition-white' ">
                      <div class="timeline_date">
                        <div ng-if="vm.isSuperAdminRole || vm.isAdminRole || vm.isManagementRole">
                        <a ng-click="vm.deleteNotice(notice.id)"><i class="fa fa-trash fa-2x pull-right" tooltip-placement="top"
                           ng-style="notice.type == 'Violation' ? {'color': 'white'}: {}" uib-tooltip="Delete"></i></a>
                        <a ui-sref="app.editNotice({id : notice.id})"><i class="fa fa-pencil fa-2x pull-right margin-right-20 margin-top-5" tooltip-placement="top"
                           ng-style="notice.type == 'Violation' ? {'color': 'white'}: {}" uib-tooltip="Edit"></i></a>
                        <a ng-click="vm.openModalUserList(notice.id)"><i class="fa fa-align-justify fa-2x pull-right margin-right-30 margin-top-5" tooltip-placement="top"
                           ng-style="notice.type == 'Violation' ? {'color': 'white'}: {}" uib-tooltip="Read By"></i></a>
                        </div>
                        <div>
                          <div class="inline-block">
                            <span class="day text-bold">{{notice.startDate | date:'dd'}}</span>
                          </div>
                          <div class="inline-block">
                            <span class="block week-day text-extra-large">{{notice.startDate | date:'EEEE'}}</span>
                            <span ng-class="notice.type == 'Violation' ? 'block month text-large text-white' :'block month text-large text-light'">{{notice.startDate | date:'MMM yyyy'}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline_title">
                        <i class="fa fa-envelope fa-2x pull-left fa-border"></i>
                        <h4 ng-class="notice.type == 'Violation' ? 'text-white no-margin padding-5' : 'light-text no-margin padding-5'">{{notice.subject}}</h4>
                      </div>
                      <div class="timeline_content">
                            {{notice.description| limitTo:80}}
                      </div>
                      <div class="readmore">
                         <a ng-click="vm.addReadRecipient(notice.id , notice)" class="btn btn-info btn-wide"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                      </div>
                    </div>
                  </li>

                </ul>

              <!--<div class="date_separator" id="may">-->
                <!--<span>MAY 2017</span>-->
              <!--</div>-->
              <!--<ul class="columns">-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-white">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">02</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Tuesday</span>-->
                          <!--<span class="block month text-large text-light">may 2017</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_title">-->
                      <!--<i class="fa fa-check fa-2x pull-left fa-border"></i>-->
                      <!--<h4 class="light-text no-margin padding-5">Appointment</h4>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="readmore">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a href="#" class="btn btn-primary btn-o btn-wide"> Read More <i class="fa fa-arrow-circle-right"></i> </a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-white">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">05</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-light">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_title">-->
                      <!--<i class="fa fa-map-marker fa-2x pull-left fa-border"></i>-->
                      <!--<h4 class="light-text no-margin padding-5">Appointment</h4>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-3 col-xs-4">-->
                          <!--<img src="images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />-->
                        <!--</div>-->
                        <!--<div class="col-md-9 col-xs-8">-->
                          <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="readmore">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a href="#" class="btn btn-primary"> Read More <i class="fa fa-arrow-circle-right"></i> </a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-primary">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">12</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-white-transparent">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_title">-->
                      <!--<i class="fa fa-check-circle-o fa-2x pull-left fa-border"></i>-->
                      <!--<h4 class="text-white no-margin padding-5">Test Solution</h4>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<p>-->
                        <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
                      <!--</p>-->
                      <!--<div map-lazy-load="https://maps.google.com/maps/api/js">-->
                        <!--<ng-map zoom="4" center="-33, 151">-->
                          <!--<marker position="-33.890542, 151.274856"-->
                                  <!--icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>-->
                        <!--</ng-map>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="readmore">-->
                      <!--<a href="#" class="btn btn-transparent-white"> Read More <i class="fa fa-arrow-circle-right"></i> </a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
              <!--<div class="date_separator" id="october">-->
                <!--<span>OCTOBER 2014</span>-->
              <!--</div>-->
              <!--<ul class="columns">-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-white">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">05</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-light">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_title">-->
                      <!--<i class="fa fa-map-marker fa-2x pull-left fa-border"></i>-->
                      <!--<h4 class="light-text no-margin padding-5">Appointment</h4>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-3 col-xs-4">-->
                          <!--<img src="images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />-->
                        <!--</div>-->
                        <!--<div class="col-md-9 col-xs-8">-->
                          <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="readmore">-->
                      <!--<a href="#" class="btn btn-light-blue"> Read More <i class="fa fa-arrow-circle-right"></i> </a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-purple">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">05</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-white-transparent">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_title">-->
                      <!--<i class="fa fa-map-marker fa-2x pull-left fa-border"></i>-->
                      <!--<h4 class="text-white no-margin padding-5">Appointment</h4>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-3 col-xs-4">-->
                          <!--<img src="images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />-->
                        <!--</div>-->
                        <!--<div class="col-md-9 col-xs-8">-->
                          <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="readmore">-->
                      <!--<a href="#" class="btn btn-transparent-white"> Read More <i class="fa fa-arrow-circle-right"></i> </a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-green">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">05</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-white-transparent">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                    <!--</div>-->
                    <!--<div class="readmore">-->
                      <!--<a href="#" class="btn btn-dark-green"> Read More <i class="fa fa-arrow-circle-right"></i> </a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="timeline_element partition-white">-->
                    <!--<div class="timeline_date">-->
                      <!--<div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="day text-bold">05</span>-->
                        <!--</div>-->
                        <!--<div class="inline-block">-->
                          <!--<span class="block week-day text-extra-large">Wensdey</span>-->
                          <!--<span class="block month text-large text-light">november 2014</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="timeline_content">-->
                      <!--<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                    <!--</div>-->
                    <!--<div class="readmore">-->
                      <!--<a href="#" class="btn btn-light-blue"> Read More <i class="fa fa-arrow-circle-right"></i> </a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- start: TIMELINE -->

<script type="text/ng-template" id="userList.html">
  <div class="modal-header">
    <h3 class="modal-title">Notice Read By</h3>
  </div>
  <div class="modal-body scrollModalList">

    <span ng-if="userList.length == 0">
      No one has read this notice
    </span>

    <ul ng-if="userList.length > 0">
      <li ng-repeat="user in userList"> {{user.name}}</li>
    </ul>


  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
  </div>
</script>

<script type="text/ng-template" id="readNotice.html">
  <div class="modal-header">
    <h3 class="modal-title">{{notice.startDate | date:'dd MMM yyyy'}}  {{notice.startDate | date:'EEEE'}}</h3>
  </div>
  <div class="modal-body">
    <h3>
      <span class="text-azure">{{notice.subject}}</span>
    </h3>
    <h5>
      {{notice.description}}
    </h5>

    <div class="row">
      <div class="col-md-6" ng-repeat="urlObj in notice.attachmentUrl">
        <img ng-if="urlObj.showImage" ng-src="{{urlObj.url}}" width="100%" height="300px">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-10" ng-repeat="urlObj in notice.attachmentUrl" ng-if="!urlObj.showImage">
        <h5 ng-if="urlObj.url == notice.attachmentUrl[tempCount[0]].url"><strong>Download Attachment</strong></h5>
        <br />
        <a ng-click="downloadAttachment(urlObj.download , urlObj.url)"><li>{{urlObj.url}}</li></a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
  </div>
</script>
