<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Edit Visitor</h4>

  <div ng-click="vm.breadcrumbRoute()" ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <fieldset>
            <legend>
              Edit Visitor
            </legend>
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="row">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group"
                                 ng-class="{'has-error':vm.Form.name.$dirty && vm.Form.name.$invalid, 'has-success':vm.Form.name.$valid}">
                              <label class="control-label"> Name <span class="symbol required"></span> </label>
                              <input type="text" placeholder="Enter Visitor Name" class="form-control" name="name"
                                     ng-model="vm.visitor.name"  ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="30" required/>
                              <span class="error text-small block" ng-if="vm.Form.name.$error.pattern">Invalid characters</span>
                              <span class="error text-small block" ng-if="vm.Form.name.$dirty && vm.Form.name.$error.required">Name is required</span>
                              <span class="error text-small block"
                                    ng-show="vm.Form.name.$invalid && vm.Form.name.$error.maxlength">Name be less than 30 characters</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.mobile.$dirty && vm.Form.mobile.$invalid, 'has-success':vm.Form.mobile.$valid}">
                          <label class="control-label"> Mobile Number <span class="symbol required"></span> </label>
                          <input type="text" placeholder="Enter Visitor Mobile Number" class="form-control" name="mobile"
                                 ng-model="vm.visitor.mobile" ng-pattern="/^[1-9][0-9]*$/" ng-minlength=10
                                 ng-maxlength=10 required/>

                          <span class="error text-small block"
                                ng-if="vm.Form.mobile.$dirty && vm.Form.mobile.$error.required">Mobile is required</span>
                          <span class="error text-small block"
                                ng-if="vm.Form.mobile.$error.pattern">Invalid Characters</span>
                          <span class="error text-small block" ng-if="vm.Form.mobile.$error.minlength && !vm.Form.mobile.$error.pattern">Mobile Number should be ten characters only</span>
                          <span class="error text-small block" ng-if="vm.Form.mobile.$error.maxlength && !vm.Form.mobile.$error.pattern">Mobile Number should be ten characters only</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.vehicleNo.$dirty && vm.Form.vehicleNo.$invalid, 'has-success':vm.Form.vehicleNo.$valid}">
                          <label class="control-label"> Vehicle no </label>
                          <input type="text" placeholder="Enter Vehicle No" class="form-control" name="vehicleNo"
                                 ng-model="vm.visitor.vehicleNo">
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.comingFrom.$dirty && vm.Form.comingFrom.$invalid, 'has-success':vm.Form.comingFrom.$valid}">
                          <label class="control-label"> Coming From <span class="symbol required"></span> </label>
                          <input type="text" class="form-control" name="comingFrom"
                                 ng-model="vm.visitor.comingFrom" required/>
                          <span class="error text-small block" ng-if="vm.Form.comingFrom.$dirty && vm.Form.comingFrom.$error.required">Visitor Address is required</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.visitorType.$dirty && vm.Form.visitorType.$invalid, 'has-success':vm.Form.visitorType.$valid}">
                          <label class="control-label"> Visitor Type <span class="symbol required"></span> </label>
                          <select class="form-control" name="visitorType" ng-model="vm.visitor.type"
                                  ng-options="visitor for visitor in vm.visitorTypeList" required>
                          </select>
                          <span class="error text-small block"
                                ng-if="vm.Form.visitorType.$dirty && vm.Form.visitorType.$error.required">Visitor Type is required.</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error':vm.Form.purposeOfVisit.$dirty && vm.Form.purposeOfVisit.$invalid, 'has-success':vm.Form.purposeOfVisit.$valid}">
                          <label class="control-label">Purpose of Visit<span class="symbol required"></span> </label>
                          <textarea class="form-control custom-control" rows="3" name="purposeOfVisit" style="resize:none" ng-model="vm.visitor.purposeOfVisit" required></textarea>
                          <span class="error text-small block"
                                ng-if="vm.Form.visitorType.$dirty && vm.Form.visitorType.$error.required">Purpose of visit is required.</span>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="{'has-error':vm.Form.tower.$dirty && vm.Form.tower.$invalid, 'has-success':vm.Form.tower.$valid}" ng-if="!vm.isConsumerRole">
                              <label class="control-label"> Tower <span class="symbol required"></span> </label>
                              <select class="form-control" name="tower" ng-model="vm.tower"
                                      ng-options="tower for tower in vm.towerList" ng-change="vm.disableFlatInput()" required>
                              </select>
                              <span class="error text-small block"
                                    ng-if="vm.Form.tower.$dirty && vm.Form.tower.$error.required">Tower is required.</span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error':vm.Form.flat.$dirty && vm.Form.flat.$invalid, 'has-success':vm.Form.flat.$valid}" ng-if="!vm.isConsumerRole">
                              <label class="control-label">
                                Flat <span class="symbol required"></span>
                              </label>
                              <div class="row">
                                <div class="col-md-7">
                                  <input type="text" style="width:190px;" name="flat" ng-model="vm.flatsearch" placeholder="Search Flat No"
                                         uib-typeahead="item as item.flatNo for item in vm.searchFlat($viewValue)"
                                         typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-no-results="noResults"
                                         typeahead-editable='true'
                                         class="form-control" required>
                                </div>
                                <div class="col-md-5">
                        <span class="btn btn-danger" style="margin-left: 45px;" ng-click="vm.clearFlat()" ><i
                          class="fa fa-times"></i> </span>
                                </div>
                              </div>
                              <div ng-show="noResults" class="error">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                              </div>
                              <span class="error text-small block"
                                    ng-if="vm.Form.flat.$dirty && vm.Form.flat.$error.required">Flat is required.</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                        <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="isArrived" value="isArrived" ng-disabled="vm.checkbox" ng-model="vm.visitor.isArrived">
                        <label for="isArrived">
                        Has Arrived
                        </label>
                        </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <button type="submit" class="btn btn-wide btn-success"
                                  ng-click="vm.submit();vm.toTheTop()">
                            Save
                          </button>
                          <button type="reset" class="btn btn-wide btn-warning"
                                  ng-click="vm.reset()">
                            Reset
                          </button>
                          <button type="cancel" class="btn btn-wide btn-danger"
                                  ui-sref="app.visitor">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        </ng-form>
        </fieldset>
      </div>
    </div>
  </div>
</div>



