
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
  <h4 class="mainTitle no-margin">Visitors</h4>

  <div ncy-breadcrumb class="pull-right"></div>
</div>

<wave-spinner ng-show="vm.progress" ></wave-spinner>

<div ng-show="!vm.progress" class="container-fluid container-fullw" style="min-height:600px;">
  <div class="row" ng-show="vm.errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        <strong>Error!</strong> {{vm.errorMessage}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.visitorMsg">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideComplaintBox()">
          &times;
        </button>
        {{vm.visitorMsg}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="vm.message">
    <div class="col-md-12">
      <div class="alert alert-success">
        <button class="close" ng-click="vm.hideAlertBox()">
          &times;
        </button>
        {{vm.message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">

          <div class="row margin-bottom-10">
            <div class="col-md-12">
              <a ui-sref="app.addVisitor"
                 class="btn btn-wide btn-primary pull-left"><i
                class="ti-plus"></i> Create
                Visitor</a>
              <a ng-click="vm.tableParams.filter({})"
                 class="btn btn-wide btn-warning pull-right" href="#"><i class="ti-filter"></i> Clear
                Filters</a>
            </div>
          </div>

          <div class="table-responsive">
            <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
              <tr ng-repeat="row in $data">

                <td data-title="'Name'">{{row.name}}</td>

                <td data-title="'Mobile No'" sortable="'mobile'" filter="{ 'mobile' : 'text' }">{{row.mobile}}</td>

                <td data-title="'Vehicle No'">{{row.vehicleNo}}</td>

                <td data-title="'Coming From'">{{row.comingFrom}}</td>

                <td data-title="'Visitor Type'">{{row.type}}</td>

                <!--<td data-title="'Purpose of Visit'">{{row.purposeOfVisit}}</td>-->

                <td data-title="'Expected Arrival Time'">{{row.expectedArrivalTime | date: 'hh:mm a'}}</td>

                <td data-title="'Arrival Time'">{{row.arrivedAt | date: 'hh:mm a'}}</td>

                <td data-title="'Tower'" ng-if="!vm.isConsumerRole">{{row.tower}}</td>

                <td data-title="'Flat No'" ng-if="!vm.isConsumerRole" sortable="'flatNo'" filter="{ 'flatNo' : 'text' }">{{row.flatNo}}</td>

                <td class="center">
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a ng-show="vm.isVisitorAdminRole" ui-sref="app.editVisitor({id : row.id})" class="btn btn-transparent btn-xs"
                       tooltip-placement="top"
                       uib-tooltip="Arrived" ><i class="fa fa-pencil"></i></a>
                  </div>
                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="btn-group" uib-dropdown>
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                              uib-dropdown-toggle>
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                        <li>
                          <a href="#" ui-sref="app.editVisitor({id : row.id})"> Edit </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>

              </tr>
            </table>

          </div>
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
