<div class="container">

        <div class="col-lg-6 margin-top-15">
            <div class="row margin-top-15">
    
        <div class="row jumbotron margin-top-15">
            <div class="row">
                <h2 translate="company.documents.HEADING"><strong>Invite others to test with you</strong></h1>
                <!-- <h7>Lets get started</h4> -->
            </div><br>
            <div class="row margin-top-25">
                <h4 translate="company.documents.SUBHEADING">Add some  basic company info to help new starters settle in</h4>
            </div>
            <div class="row margin-top-25 pull-left">

                    <div class="col-md-12">
                            <h5 translate="company.documents.FORMHEADING" >Add some  basic company info</strong></h4>
                    </div>
    
                <div class="col-md-12">
                        <table class="table table-striped table-hover" id="sample-table-3">
                                <!-- <thead>
                                    <tr>
                                        <th class="center">First Name</th>
                                        <th class="center">Last Name</th>
                                        <th class="center">Email</th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr>
                                        <td class="center" translate="company.documents.FOLDERS.FIRST">P45</td>
                                        <td class="center"> IN USE </td>
                                    </tr>
                                    <tr>
                                        <td class="center" translate="company.documents.FOLDERS.SECOND">P45</td>
                                        <td class="center"> IN USE </td>
                                    </tr>
                                    <tr>
                                        <td class="center" translate="company.documents.FOLDERS.THIRD">P45</td>
                                        <td class="center"> IN USE </td>
                                    </tr>
                                    <tr>
                                        <td class="center" translate="company.documents.FOLDERS.FOURTH">P45</td>
                                        <td class="center"> IN USE </td>
                                    </tr>

                                </tbody>
                         </table>
                </div>
    
                    
                <div class="col-md-12 margin-top-15 margin-bottom-15">
                        <h5 translate="company.documents.NEXTBTNHEADING" style="font-style: italic"><strong>Add some  basic company info</strong></h4>
                </div>
                    
                            <div class="col-md-4">
                                    <button type="button" class="btn btn-o btn-wide btn-default" ng-click="vm.addMember()">
                                        <i class="glyphicon glyphicon-plus"></i> <span translate="company.documents.NEXTBTN">Add Member</span> 
                                    </button>
                                </div>  
                            </div>                      
                       
    
                        <div class="row">
                            <div class="col-md-2"></div>
                                <div class="col-md-8 margin-top-20">
                                        <div class="form-actions">
                                                <button type="submit" class="btn btn-red btn-block" translate="company.documents.LASTBUTTON" ng-click="vm.documentsSubmit()">
                                                    Next
                                                </button>                    
                                        </div>
                                </div>
                            </div>
            </div>
            
        </div>
    
    </div>
    
    </div>
    
    </div>