<div class="container">

    <div class="col-lg-6 margin-top-15">
        <div class="row margin-top-15">

    <div class="row jumbotron margin-top-15">
        <div class="row">
            <h1 translate="company.goals.HEADING">Welcome to HR</h1>
            <!-- <h7>Lets get started</h4> -->
        </div><br>
        <div class="row margin-top-25">
            <h4 translate="company.goals.SUBHEADING"><strong>What's your goal ?</strong></h4>
        </div>
        <div class="row margin-top-25 pull-left">
            <!-- <div id="cl-effect-20" class="col-md-12 links cl-effect-20">
                        <a href><span data-hover="Automate Holiday Booking"><h2>Automate Holiday Booking</h2></span></a>
                </div>
                    <nav id="cl-effect-19" class="links cl-effect-19">
                            <a href><span data-hover="Streamline New Hire Onboarding">Streamline New Hire Onboarding</span></a>
                        </nav>
                        <nav id="cl-effect-19" class="links cl-effect-19">
                                <a href><span data-hover="Organise my team's Information">Organise my team's Information</span></a>
                    </nav> -->
                    <nav id="cl-effect-14" class="links cl-effect-14" style="text-align: left">
                            <a data-hover="Automate Holiday Booking" ui-sref="company.details" ng-click="vm.goalRefreshPage()"> <i class="fa fa-suitcase" aria-hidden="true"></i><span translate="company.goals.FIRSTGOAL"> Automate Holiday Booking </span></a>
                            <a data-hover="Streamline New Hire Onboarding" ng-click="vm.goalRefreshPage()" ui-sref="company.details"> <i class="fa fa-user" aria-hidden="true"></i><span translate="company.goals.SECONDGOAL"> Streamline New Hire Onboarding </span></a>
                            <a data-hover="Organise my team's Information" ng-click="vm.goalRefreshPage()" ui-sref="company.details"> <i class="fa fa-folder" aria-hidden="true"></i><span translate="company.goals.THIRDGOAL">  Organise my team's Information  </span></a>       
                    </nav>
        </div>
        
    </div>

</div>

</div>

</div>