<div class="container">

        <div class="col-lg-6 margin-top-15">
            <div class="row margin-top-15">
    
        <div class="row jumbotron margin-top-15">
            <div class="row">
                <h2 translate="company.teams.HEADING"><strong>Introduce your new starter to the rest of their team</strong></h1>
                <!-- <h7>Lets get started</h4> -->
            </div><br>
            <div class="row margin-top-25">
                <h4 translate="company.teams.SUBHEADING">Make it easier for new joiners</h4>
            </div>
            <div class="row margin-top-25 pull-left">
                    <div class="panel-heading">
                            <h5 class="panel-title" translate="company.teams.TICKBOXHEAD">Select teams to create :</h5>
                        </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-8">
                            <div class="form-actions">
                                    <button type="submit" class="btn btn-red btn-block" translate="company.teams.NEXT"  ng-click="vm.teamDetailsNext()">
                                        Next
                                    </button>                    
                            </div>
                    </div>
                </div>
            
        </div>
    
    </div>
    
    </div>
    
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" translate="company.teams.MODALADDTEAM.HEADING">Team Name</h3>
        </div>
        <div class="modal-body">
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>                   
                    
                       <div class="form-group"
                            ng-class="{'has-error':vm.Form.teamName.$dirty && vm.Form.teamName.$invalid, 'has-success':vm.Form.teamName.$valid}">
                         <input type="text" placeholder="{{'company.teams.MODALADDTEAM.PLACEHOLDER' | translate }}" class="form-control" name="teamName"
                                ng-model="teamName"  ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="10" required/>
                         <span class="error text-small block" ng-if="vm.Form.teamName.$error.pattern" translate="company.teams.MODALADDTEAM.INVALID">Invalid characters</span>
                         <span class="error text-small block" ng-if="vm.Form.teamName.$dirty && vm.Form.teamName.$error.required" translate="company.teams.MODALADDTEAM.REQUIRED">Company name is required</span>
                         <span class="error text-small block"
                               ng-show="vm.Form.teamName.$invalid && vm.Form.teamName.$error.maxlength" translate="company.teams.MODALADDTEAM.LENGTH">Company name should be less than 10 characters</span>
                       </div>

                    </ng-form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="vm.Form.$invalid" translate="company.teams.MODALADDTEAM.OKBTN" ng-click="ok()">OK</button>
            <button class="btn btn-primary btn-o" translate="company.teams.MODALADDTEAM.CANBTN" ng-click="cancel()">Cancel</button>
        </div>
    </script>